/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color-dark: #d9d9d9;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 80px;
}

button {
  cursor: pointer;
}

.logo {
  height: 20px;
  margin: 30px 0;
}
nav {
  display: flex;
  gap: 30px;
}
.nav-link {
  align-items: center;
  display: flex;
  box-sizing: border-box;
  margin-left: 30px;
  border-top: 2px solid transparent;
}

.nav-link:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: left;
  overflow: hidden;
  min-height: 50px;
  align-items: stretch;
}

.search-bar * {
  font-weight: bold;
  font-size: 18px;
}

.search-bar label {
  color: black;
  background-color: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 50px;
}

.search-bar input {
  outline: none;
  background-color: white;
  text-align: center;
  border-color: var(--main-bg-color);
  border-style: solid;
  border-width: 1px 0;
}

.magnifying-glass {
  display: none;
  border-radius: 15px;
  min-width: 50px;
}

.no-magnifying-glass {
  border-radius: 0 15px 15px 0;
}

.search-bar button {
  color: white;
  background-color: var(--main-color);
  text-align: center;
  border: none;
  outline: none;
  padding: 0 15px;
}

.filter-bar {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  gap: 15px;
  align-items: center;
}

.filter-btn i {
  color: var(--main-color);
}

.filter-btn {
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--main-bg-color);
  gap: 10px;
}

.filter-btn:hover {
  background-color: var(--filter-bg-color);
}

.info-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.info-bar i {
  color: var(--main-color);
  border: 2px solid var(--main-bg-color);
  border-radius: 20px;
  min-width: 25px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 22px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 600;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hebergements-cards .card-content {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hebergements-cards .card-content p,
.hebergements-cards .card-content h3 {
  margin: 0.5em 0;
}

.hebergements-cards img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 125px;
}

.afficher-plus {
  font-weight: bold;
  font-size: 18px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Activités */
.activites {
  padding: 30px;
}

.activites-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.activites-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 0;
}
.activites-cards img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
  margin-left: 30px;
}

/* Footer */
footer {
  background-color: var(--main-bg-color);
  padding: 15px 30px 0 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul::before {
  content: attr(aria-label);
  font-weight: bold;
  font-size: 18px;
}
footer li {
  font-size: 16px;
  margin: 1em 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-cards img {
    height: 200px;
  }

  .filter-btn {
    font-size: 16px;
  }
  .filter-bar {
    flex-wrap: wrap;
  }
  .filter-bar h2 {
    flex-basis: 100%;
  }

  footer {
    gap: 30px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .populaires-cards a {
    width: 100%;
  }
  .populaires-cards .card {
    margin-top: 15px;
  }
  .hebergements-and-populaires section {
    border-radius: 0;
  }
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements {
    background-color: white !important;
  }
  .main-container {
    padding: 0;
  }

  .info {
    padding: 0 15px;
  }

  .search-bar input {
    padding-right: 10px;
    min-width: 100px;
    width: 100%;
  }

  .magnifying-glass {
    /**** Le figma indique un box-shadow sur la vue mobile, mais pas sur l'élément en lui-même

    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
    ****/
    display: block;
    margin-left: -10px;
  }
  .no-magnifying-glass {
    display: none;
  }

  .populaires {
    margin-top: 0;
  }

  .nav-link {
    margin: 0;
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px;
    border-top: none;
    border-bottom: 2px solid var(--main-bg-color);
  }

  .nav-link:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }

  .logo {
    margin: 20px auto 0 auto;
    object-fit: scale-down;
  }

  nav {
    display: flex;
    align-items: stretch;
    gap: 0;
  }

  .activites-cards,
  .hebergements-cards,
  .populaires-cards,
  header,
  footer {
    display: flex;
    flex-direction: column;
  }

  .filter-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .filter-bar h2 {
    grid-column: span 2;
  }

  .activites-cards img {
    height: 140px;
  }
  .filter-btn {
    font-size: 14px;
  }

  footer {
    gap: 0;
  }
  header {
    gap: 30px;
    height: auto;
  }
  .headline h1 {
    margin-top: 30px;
  }
}
